

/**************** Début Général ********************/



body
{
   background-color: rgb(254,214,143);
   width: 1000px;
   margin: auto; /* Pour centrer notre page */
   margin-top: 20px; /* Pour éviter de coller avec le haut de la fenêtre du navigateur. Essayez d'enlever pour voir ! */
   margin-bottom: 20px; 
   text-align: center;
   font-size: large;
   font-family: Trebuchet,"Comic Sans MS", Arial, serif;
   
}

}
#en_tete
{
	text-align: center;
   background-repeat: no-repeat;
   margin-bottom: 10px;
   text-decoration: underline;

}
#corps
{
   margin-bottom: 20px; /* Ca c'est pour éviter que le corps colle trop au pied de page en-dessous */
   padding: 5px; /* Pour éviter que le texte à l'intérieur du corps ne colle trop à la bordure */
   border: 2px solid black; /* Une bordure pour bien marquer les limites du corps et pour faire joli */
}

#pied_de_page
{
   padding: 5px;
   text-align: center;
   color: #B3B3B3;
   background-color: #626262;
   background-repeat: repeat-x;
   border: 2px solid black;
}
a
{
	color: green;
}
a:hover
{
   color: orange;
}
ul, ol
{
	text-align: left;
	line-height: 10px;
}
li
{
	margin-bottom:20px;
}
p strong
{
	color: green;
}
pre
{
	font-family: Trebuchet,"Comic Sans MS", Arial, serif;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
address
{
	color: green;
	text-align: left;
	font-style: normal;
}
ins
{
	font-size: 9px;
    margin-top: -25px;
}
pre strong
{
	color: green;
}
h2
{
	color: orange;
}
tr, td, table
{
	text-align: center;
}
.gras
{
	font-weight: bold;
	text-decoration: none;
}
.gras_souligne
{
	font-weight: bold;
	text-decoration: underline;
	color: green;
}
.souligne
{
	text-decoration: underline;
}
.normal
{
	font-size: small;
}
.alignLeft
{
	text-align: left;
}
.imageflottante
{
   float: right;
}
.imageflottante_gauche
{
   float: left;
}
.center
{
	text-align: center;
}
.petit
{
	font-size: 9px;
	text-align: right;
}

.lien_sans_bordure img
{
	border-color: rgb(254,214,143);
	color: rgb(254,214,143);
}
.lien_sans_bordure img:hover
{
	border-style: outset;
}
.lien_sans_bordure img:active
{
	border-style: inset;
}

.partenaire_sans_bordure
{
	border-color: rgb(254,214,143);
	color: rgb(254,214,143);
}
.partenaire_sans_bordure img:hover
{
	border-style: outset;
}
.partenaire_sans_bordure img:active
{
	border-style: inset;
}


/**************** Fin Général ********************/




/************** Titre déroulant ******************/

#cadrpg { width:600px; margin:0 auto; border:0; overflow:hidden;}
#newshr { position:relative; width:580px; height:85px; overflow:hidden; 
          color:inherit; background: url("mob gris.png"); border:1px inset white; }
#defile { position:absolute; margin-top:1px; background-color:transparent; }


/*************** Fin titre déroulant ****************/





/******** Feuille de styles du menu ************/
.conteneurMenu{
 float: left;
 width: 140px; /** Tenir compte du width de titreMenu ;) **/
 border: none;
 padding: 0px;
 margin: 0px;
}
 
.menu{
 float: left;
 margin: 0px;
 padding: none;
 width: 200px;
 background-color: green;
}
 
.titreMenu, .contenuMenu, .lienMenu{
 color: black;
 padding: 0px;
 width: 300px;
}
 
.titreMenu{
 border: 2px solid green;
 width: 113px;
 text-align: center;
 margin: 0px;
 padding: 0px;
 float: left;
}
 
 .contenuMenu{
  border: 2px solid green;
 width: 150px;
 text-align: center;
 margin-left: 85px;
 padding: 10px;
 float: left;
 }
 
.titreMenu{
 z-index: 0;
 padding: 0px;
}
 
.contenuMenu{
 display: none;
 background-color: #FFFFFF;
 position: absolute;
 z-index: 1;
}
 
.menuOverflow{
 overflow: auto;
 height: 200px;
}
 
.itemOver{
 background-color: none;
 /*font-weight: bold;*/
}
 
.itemOut{
 background-color: none;
}
 
.lienMenu{
 text-decoration: none;
}
 
.crlf{
 visibility: hidden;
}
 
/******** Fin de la feuille de styles du menu ************/






/************ Début de l'onglet ***************/


.menu2{
	width:500px;
	background:#e7474e;
	margin:0 auto;
	height:50px;
	color:#000;
}
.menu-photo1{
	float:left;
	width:167px;
	height:45px;
	text-align:center;
}
.menu-photo2{
	float:left;
	width:166.5px;
	height:45px;
	text-align:center;
}
.menu-photo1 a{
	display:block;
	height:30px;
	padding-top:15px;
}
.menu-photo2 a{
	display:block;
	height:30px;
	padding-top:15px;
}
.menu-photo1 a:link, .menu-photo1 a:visited{
	text-decoration:none;
	color:#000;
	font-family:verdana, sans-serif;
	font-size:12px;
	background:#abc url(fond.jpg) 0 -45px;
}
.menu-photo2 a:link, .menu-photo2 a:visited{
	text-decoration:none;
	color:#000;
	font-family:verdana, sans-serif;
	font-size:12px;
	background:#abc url(fond.jpg) 0 -45px;
}
.menu-photo1#activ a:link, .menu-photo1#activ a:visited{
	background:#abc url(fond.jpg);
	color:#000;
}
.menu-photo2#activ a:link, .menu-photo2#activ a:visited{
	background:#abc url(fond.jpg);
	color:#000;
}
.menu-photo1 a:hover, .menu-photo1 a:active, .menu-photo1 a:focus{
	background:#abc url(fond.jpg) 2 -90px;
	color:#393;
}
.menu-photo2 a:hover, .menu-photo2 a:active, .menu-photo2 a:focus{
	background:#abc url(fond.jpg) 2 -90px;
	color:#393;
}
.menu-photo1#activ a:hover, .menu-photo1 #activ a:active, .menu-photo1#activ a:focus{
	background:#abc url(fond.jpg);
	color:#393;
}
.menu-photo2#activ a:hover, .menu-photo2 #activ a:active, .menu-photo2#activ a:focus{
	background:#abc url(fond.jpg);
	color:#393;
}


.menu-photo1
{
	text-decoration: underline;
	font-weight: bold;
}


.menu-photo2
{
	text-decoration: none;
}




/*********** Fin de l'onglet ***************/